<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>startup</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../assets/css/uikit-rtl.min.css">
    <link rel="stylesheet" href="../assets/css/style.css"></head>
<body>

    <div id="container-1">
        <button onclick="back()"  style="left: 20px; top: 20px; position: fixed; display: block; background: none;border-width: 0px;"><span><img style="width: 60px;" src="../assets/images/back_btn.png" alt=""></span></button>
        <div id="head">
            <h1 id="title-home">آشنایی و استفاده از متغیر ها</h1>
        </div>
        <div id="area-text" style="border-bottom: 2px solid black">
            <p id="text1">
            <p>
                خب بچه ها می‌خوایم راجع به متغییر ها صحبت کنیم.
            </p>
            <p>
                همون طور که می‌دونید کلمه متغییر از تغییر می‌یاد. متغییر به زبون انگلیسی می‌شه Variable . تو برنامه هامون وقتی از متغییر ها استفاده می‌کنیم که بخواییم از چیزی مثله یه عدد یا یه متن رو به صورت موقت ذخیره کنیم.بیایین با مثالی از دنیای واقعی بیشتر با متغییر آشنا بشیم.
            </p>
            <p>
                فرض کنیم که این مغز انسان باشه...
            </p>
            </p>

            <img style="margin-right: auto; margin-left: auto; display: block; width: 300px;" src="../assets/images/title-1.png" alt="">
            <p id="text3">
            <p>
                ما کارهای روزمره‌ای داریم مثه انجام تکالیف مدرسه، یا رفتن به سوپر مارکت، تمرین برنامه نویسی و .... که معمولا این کارها رو تو مغزمون ذخیره می‌کنیم. اون قسمتی که این کارها داخلش ذخیره می‌شن رو بهش میگن متغییر یا Variable. چرا بهشون می‌گیم متغییر ؟ چون این اطلاعات و به صورت متغییر داخل مغزمون ذخیره می‌شن.
            </p>
            <p>
                فرض کنیم که امروز دیگه معلم خوبمون بهمون تلکیف نداده و ما می‌خواییم عصر بریم پارک و بازی کنیم. چون دیگه نیازی به "انجام تکالیف مدرسه" مون نداریم ‌میاییم و ر"فتن به پارک "رو در محل ذخیره "انجام تکالیف مدرسه" ذخیره می‌کنیم.
            </p>
            <p>
                برای شروع برنامه ابتدا باید از بلاک شروع برنامه استفاده کنیم.اگر از این بلاک استفاده نکنیم برنامه ما اجرا نمیشه!!
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; width: 700px;" src="../assets/images/ch1_start_block.png" alt="">
            <p>
                ما برای ایجاد یک متغییر از شکل زیر استفاده می‌کنیم.  از منوی سمت چپ "متغییر ها" را انتخاب می‌کنیم
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; width: 700px;" src="../assets/images/ch1_img2.png" alt="">

            <p>
                از منوی جدید باز شده بر روی گزینه "ایجاد متغییر" کلیک کنید.
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; width: 700px;" src="../assets/images/ch1_img3.png" alt="">

            <p>
                سپس نام متغییر را وارد می‌کنیم و بر روی ok  کلیک کنید.
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; width: 700px;" src="../assets/images/ch1_img4.png" alt="">
            <p>
                متغییر ما ایجاد می‌شود.
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; width: 700px;" src="../assets/images/ch1_img5.png" alt="">

            <p>
                بلاک شروع برنامه رو باز به برنامه اضافه می‌کنیم و سپس از بلاک های متغییر مون استفاده می‌کنیم.
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; width: 700px;" src="../assets/images/ch1_img6.png" alt="">
            <p>
                با استفاده از بلاک یک عدد به متغییر هامون عدد می‌دهیم.
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; width: 200px;" src="../assets/images/ch1_setNumber.png" alt="">
            <p>
                به این صورت به متغییر عدد می دهیم
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; width: 300px;" src="../assets/images/ch1_addNumber.png" alt="">

            <p>
                با استفاده از بلاک چاپ متغییر مون رو چاپ می کنیم
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; width: 300px;" src="../assets/images/ch1_print.png" alt="">

            <p>
                با استفاده از بلاک جمع کننده دو متغییر را جمع می‌کنیم.
    
            </p>
            <img style="margin-right: auto; margin-left: auto; display: block; width: 300px;" src="../assets/images/ch1_addTowNumber.png" alt="">
        </div>
        <div id="text-area2">
            <h1 id="title" class="uk-margin-small-bottom"><span><img id="icon-title" src="../assets/images/5904.png" alt=""></span> آشنایی و استفاده از متغیر ها</h1>

            <p id="text2">
                عزیزم فرض کن که پدربرزگ به تو 5 تا سیب بده و مادربزرگ هم به تو 6 تا سیب بده.با کمک متغییر ها  نشون بده چند تا سیب داری.
            </p>
            <button id="btn-st" onclick="forward()">بزن بریم</button>
        </div>
    </div>

    <script>
        function back() {
            window.location.href = 'index.html?step=1'
        }
        function forward() {
            window.location.href = 'ch1.html'
        }
    </script>
</body>
</html>