<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>آموزش برنامه نویسی</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="../assets/css/uikit-rtl.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/script/jquery.min.js"></script>
    <script src="https://blockly-demo.appspot.com/static/blockly_compressed.js"></script>
    <script src="../assets/script/javascript_compressed.js"></script>
    <script src="https://blockly-demo.appspot.com/static/blocks_compressed.js"></script>
    <script src="https://blockly-demo.appspot.com/static/msg/js/fa.js"></script>

</head>
<body>

    <div id="start-area" title="برای شروع کلیک کنید...">

    </div>


    <div id="step2">
        <div id="container">
            <div id="select-area">
                <p id="title-select" class="uk-margin-medium-bottom">دوس داری کدوم چالش رو انتخاب کنی؟</p>
                <div onclick="challangeClicked(1)" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 uk-margin-medium-bottom">
                    <h3 class="titles cur-h" style="color: #e55934"><i class='fas fa-circle' style="font-size: 17px"></i>&nbsp;&nbsp;چالش اول</h3>
                    <p class="content_cha cur-h" style="color: #e55934">
                          آشنایی و استفاده از متغیر ها</p>
                </div>
                <div onclick="challangeClicked(2)" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 uk-margin-medium-bottom">
                    <h3 class="title cur-hs cur-h" style="color: #3c587e"><i class='fas fa-circle' style="font-size: 17px"></i>&nbsp;&nbsp;چالش دوم</h3>
                    <p class="content_cha cur-h" style="color: #3c587e">
                          ساختار حلقه و استفاده از آن</p>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div id="about-area">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 uk-margin-medium-bottom"><button class="btn" id="btn-about">درباره ما</button></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 uk-margin-medium-top">
                    <img src="../assets/images/Asset%201.png" style="position: absolute;top: -40px;" alt="">
                </div>
            </div>
        </div>
    </div>

    <div id="wellcome-modal" class="uk-flex-top" uk-modal="esc-close: false; bg-close: false;">
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" id="b" style="height: 100%" uk-overflow-auto>
    
            <div id="img-area"></div>
            <div id="content-area">
                <div class="uk-modal-body" style="border: none!important;">
                    <h1 id="hello" class="uk-margin-large-bottom">سلام عزیزم</h1>
    
                    <div class="uk-margin-large-top"  style="margin-top: 140px!important;">
                        <label class="uk-form-label uk-margin-medium-bottom" for="name">اسمت چیه؟</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="in-name" type="text">
                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right" style="border: none!important;">
                    <button class="uk-margin-large-top" id="btn-start">بزن بریم</button>
                </div>
    
    
            </div>
    
    
        </div>
    </div>
    
    <div id="about-modal" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close" type="button" uk-close style="float: right!important; margin-top: 5px; margin-right: 10px"></button>
            <div class="uk-modal-header" style="border-bottom: none!important;">
                <h2 class="uk-modal-title" id="title-about">Lucky Group</h2>
            </div>
            <div class="uk-modal-body">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 uk-margin-medium-bottom" >
                   <img src="../assets/images/Picture1.jpg" alt="" class="my-img">
                   <div class="area-info">
                       <p class="my-info">فرزاد فیاض</p>
                       <p class="my-info">@farzadfayyaz96</p>
                   </div>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 uk-margin-medium-bottom">
                   <img src="../assets/images/Picture2.jpg" alt="" class="my-img">
                   <div class="area-info">
                       <p class="my-info">پدرام مظفری</p>
                       <p class="my-info">@Seniorpedram</p>
                   </div>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <img src="../assets/images/Picture3.jpg" alt="" class="my-img">
                   <div class="area-info">
                       <p class="my-info">امید دهقانی</p>
                       <p class="my-info">@oMID_76</p>
                   </div>
               </div>
            </div>
    
        </div>
    </div>

<script src="../assets/script/jquery.min.js"></script>
<script src="../assets/script/bootstrap.min.js"></script>
<script src="../assets/script/uikit.min.js"></script>
<script src="../assets/script/uikit-icons.js"></script>
<script src="../assets/script/script.js"></script>
<script>
    var success = UIkit.modal("#success");
    var faild = UIkit.modal("#faild");
    var welcomeModal = UIkit.modal('#wellcome-modal');
    var startArea = $('#start-area');
    var step2 = $('#step2');

    const urlParams = new URLSearchParams(window.location.search);
    const myParam = urlParams.get('step');  

    if (myParam != null) {
        
        startArea.hide();
    }
    $(document).ready(function() { 
        if (myParam == null) {
            step2.hide();
        }
    })
    startArea.click(function() {
        startArea.hide();
        welcomeModal.show();
        step2.show(500);
    });

    function challangeClicked(id) {
        switch (id) {
            case 1:
                window.location.href = "ch1_learn.html";
                break;
            case 2:
                window.location.href = "ch2_learn.html";
                break;
            case 3:
                window.location.href = "ch3.html";
                break;
            case 4:
                window.location.href = "ch4.html";
                break;
            case 5:
                window.location.href = "ch5.html";
                break;
        }
    }

    $("#btn-about").click(function () {
        UIkit.modal("#about-modal").show();
    })

    $('#btn-start').click(function() {
        let name = $('#in-name').val();

        var letters = /^[A-Za-z]+$/;
        if (!(name != null && typeof(name) == 'string' && name.length > 0)) {
            name.replace(/ /g, '');
            if (!name.match(letters))
            alert('لطفا نام خود را معتبر وارد کتید');
            return;
        }
        welcomeModal.hide();
    })

</script>
</body>
</html>